<div class="inner-child">
  <h2>{{this.nom}}</h2>
  <code>this-plus:</code>
  <p>{{this.plus}}</p>
  <span>{{this.description}}</span>
</div>
<div class="second">
  <span class="left">{{this.typekey}}</span>
  <span class="right">{{this.typevalue}}</span>
</div>
